body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-size:contain ;
  background-color: rgba(255, 94, 0, 0.685);
  background-image:url("https://cdn.division.zone/images/wallpaper/the-division-wallpaper-1-1024x768.jpg"); 
  background-repeat: unset;
  background-blend-mode: luminosity;
  
}


.header{
  width: 380px;
  height: 180px;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: rgb(161, 48, 48);
  position: fixed;
  opacity: 70%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfgXgT3dhcmgyeB7xJxTfWyphkCOhVwCRgMA&usqp=CAU");
}


.form{
  position: absolute;
  padding: 15px 0 0;
  margin-bottom: 1200px;
  margin-left: 1200px;
  width: 10%;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(17, 17, 17);
  outline: 0;
  font-size: 1.3rem;
  /* color: white; */
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}


.button{
  margin: 10px;
  border:2px solid black;
  background: transparent;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-shadow: rgba(rgb(26, 1, 1), rgb(2, 32, 2), rgb(36, 36, 39), alpha);
  padding-top: 200px;
  
}

.img{
  width: 500px;
  margin: 50px;
  opacity: 90%;
}

